@model ToDoList.Models.Category

<html>
  <head>
    <title>To Do List - Create</title>
  </head>
  <body>
    <h2>Create</h2>
    <hr />
    <h4>Add a new category</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        <input type="submit" value="Add new category" />
    }
    
    <p>@Html.ActionLink("Back to list", "Index")</p>
  </body>
</html>